#
# Copyright 2020 Han Young <hanyoung@protonmail.com>
# Copyright 2020 Devin Lin <espidev@gmail.com>
#
# SPDX-License-Identifier: GPL-2.0-or-later
#

[Desktop Entry]
Name=Weather
Name[az]=Hava
Name[ca]=Meteorologia
Name[ca@valencia]=Meteorologia
Name[cs]=Počasí
Name[de]=Weather
Name[el]=Καιρός
Name[en_GB]=Weather
Name[es]=Meteorología
Name[et]=Ilmateade
Name[eu]=Eguraldia
Name[fi]=Weather
Name[fr]=Météo
Name[it]=Meteo
Name[ko]=날씨
Name[nl]=Het weer
Name[nn]=Vêrmelding
Name[pa]=ਮੌਸਮ
Name[pl]=Pogoda
Name[pt]=Meteorologia
Name[pt_BR]=Meteorologia
Name[ro]=Vremea
Name[ru]=Погода
Name[sk]=Počasie
Name[sl]=Weather
Name[sv]=Väder
Name[uk]=Погода
Name[x-test]=xxWeatherxx
Name[zh_CN]=天气
Comment=A convergent weather application for Plasma.
Comment[az]=Plasma üçün hazırlanmaqda olan hava tətbiqi.
Comment[ca]=Una aplicació convergent de meteorologia per al Plasma.
Comment[ca@valencia]=Una aplicació convergent de meteorologia per al Plasma.
Comment[en_GB]=A convergent weather application for Plasma.
Comment[es]=Aplicación meteorológica convergente para Plasma.
Comment[fi]=Tuttavallinen sääsovellus Plasmaan.
Comment[fr]=Une application météo convergente pour Plasma.
Comment[it]=Un'applicazione meteo convergente per Plasma.
Comment[nl]=Een convergente weer-toepassing voor Plasma.
Comment[nn]=Vêrmeldings­program for Plasma, tilpassa ulike typar brukarflater.
Comment[pa]=ਪਲਾਜ਼ਮਾ ਲਈ ਮੌਸਮ ਸੰਬੰਧੀ ਐਪਲੀਕੇਸ਼ਨ ਹੈ।
Comment[pl]=Spójna aplikacja pogodowa dla Plazmy.
Comment[pt]=Uma aplicação meteorológica convergente para o Plasma.
Comment[ru]=Адаптивное приложение для просмотра прогноза погоды для Plasma.
Comment[sl]=Konvergentna aplikacija za vreme za Plasmo.
Comment[sv]=Ett konvergent väderprogram för Plasma.
Comment[uk]=Зручна програма для показу прогнозів погоди для Плазми.
Comment[x-test]=xxA convergent weather application for Plasma.xx
Exec=kweather
Icon=kweather
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
