[Desktop Entry]
Name=KWeather_1x4
Name[ca]=KWeather_1x4
Name[ca@valencia]=KWeather_1x4
Name[es]=KWeather_1x4
Name[fr]=KWeather_1x4
Name[it]=KWeather_1x4
Name[nl]=KWeather_1x4
Name[pt]=KWeather_1x4
Name[pt_BR]=KWeather_1x4
Name[sl]=KWeather 1x4
Name[sv]=KWeather 1 x 4
Name[uk]=KWeather_1x4
Name[x-test]=xxKWeather_1x4xx
Comment=KWeather_1x4 widget
Comment[ca]=Estri del KWeather_1x4
Comment[ca@valencia]=Estri del KWeather_1x4
Comment[es]=Widget de KWeather_1x4
Comment[fr]=Composant graphique « KWeather_1x4 »
Comment[it]=Widget KWeather_1x4
Comment[nl]=KWeather_1x4 widget
Comment[pt]=Elemento do KWeather_1x4
Comment[pt_BR]=Widget do KWeather_1x4
Comment[sl]=Gradnik KWeather 1x4
Comment[sv]=KWeather 1 x 4 grafisk komponent
Comment[uk]=Віджет KWeather_1x4
Comment[x-test]=xxKWeather_1x4 widgetxx


Icon=kweather
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kweather_1x4

X-Plasma-Provides=org.kde.plasma.weather

X-KDE-PluginInfo-Author=HanY
X-KDE-PluginInfo-Email=hanyoung@protonmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.kweather_1x4
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma.kde.org/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL-2.1+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

