#
# Copyright 2020 Han Young <hanyoung@protonmail.com>
# Copyright 2021 Devin Lin <devin@kde.org>
#
# SPDX-License-Identifier: GPL-2.0-or-later
#

[Desktop Entry]
Name=Weather
Comment=A widget to show the weather

Icon=kweather
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kweather

X-Plasma-Provides=org.kde.kweather.plasmoid

X-KDE-PluginInfo-Author=Devin Lin
X-KDE-PluginInfo-Email=devin@kde.org
X-KDE-PluginInfo-Name=org.kde.kweather.plasmoid
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kde.org/plasma-mobile/
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

